
DirectorioServicios/.vs/DirectorioServicios/v15/.suo
DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-shm
DirectorioServicios/Configuracion/obj/Debug/Configuracion.csprojAssemblyReference.cache
DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-shm
DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-shm
DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-shm
DirectorioServicios/DirectorioServicios/AccesoDatos/AccesoDatos.csproj
DirectorioServicios/DirectorioServicios/.vs/DirectorioServicios/v15/.suo
DirectorioServicios/DirectorioServicios/.vs/config/applicationhost.config
DirectorioServicios/DirectorioServicios/.vs/DirectorioServicios/DesignTimeBuild/.dtbcache
DirectorioServicios/DirectorioServicios/.vs/DirectorioServicios/v15/.suo
DirectorioServicios/DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-shm
DirectorioServicios/DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-wal
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/AccesoDatos.csproj.nuget.cache
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/AccesoDatos.csproj.nuget.g.props
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/Debug/netstandard2.0/AccesoDatos.assets.cache
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/Debug/netstandard2.0/AccesoDatos.csproj.CoreCompileInputs.cache
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/Debug/netstandard2.0/AccesoDatos.csprojAssemblyReference.cache
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/project.assets.json
DirectorioServicios/DirectorioServicios/CapaLogica/obj/CapaLogica.csproj.nuget.cache
DirectorioServicios/DirectorioServicios/CapaLogica/obj/CapaLogica.csproj.nuget.g.props
DirectorioServicios/DirectorioServicios/CapaLogica/obj/Debug/netstandard2.0/CapaLogica.assets.cache
DirectorioServicios/DirectorioServicios/CapaLogica/obj/Debug/netstandard2.0/CapaLogica.csproj.CoreCompileInputs.cache
DirectorioServicios/DirectorioServicios/CapaLogica/obj/Debug/netstandard2.0/CapaLogica.csprojAssemblyReference.cache
DirectorioServicios/DirectorioServicios/CapaLogica/obj/project.assets.json
DirectorioServicios/DirectorioServicios/Configuracion/ClsConfiguracion.cs
DirectorioServicios/DirectorioServicios/DirectorioServicios/obj/Debug/DirectorioServicios.csproj.CoreCompileInputs.cache
DirectorioServicios/DirectorioServicios/DirectorioServicios/obj/Debug/DirectorioServicios.csprojAssemblyReference.cache
DirectorioServicios/DirectorioServicios/.vs/config/applicationhost.config
DirectorioServicios/DirectorioServicios/.vs/DirectorioServicios/DesignTimeBuild/.dtbcache
DirectorioServicios/DirectorioServicios/.vs/DirectorioServicios/v15/.suo
DirectorioServicios/DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-shm
DirectorioServicios/DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-wal
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/AccesoDatos.csproj.nuget.cache
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/AccesoDatos.csproj.nuget.g.props
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/Debug/netstandard2.0/AccesoDatos.assets.cache
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/Debug/netstandard2.0/AccesoDatos.csproj.CoreCompileInputs.cache
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/Debug/netstandard2.0/AccesoDatos.csprojAssemblyReference.cache
DirectorioServicios/DirectorioServicios/AccesoDatos/obj/project.assets.json
DirectorioServicios/DirectorioServicios/CapaLogica/obj/CapaLogica.csproj.nuget.cache
DirectorioServicios/DirectorioServicios/CapaLogica/obj/CapaLogica.csproj.nuget.g.props
DirectorioServicios/DirectorioServicios/CapaLogica/obj/Debug/netstandard2.0/CapaLogica.assets.cache
DirectorioServicios/DirectorioServicios/CapaLogica/obj/Debug/netstandard2.0/CapaLogica.csproj.CoreCompileInputs.cache
DirectorioServicios/DirectorioServicios/CapaLogica/obj/Debug/netstandard2.0/CapaLogica.csprojAssemblyReference.cache
DirectorioServicios/DirectorioServicios/CapaLogica/obj/project.assets.json
DirectorioServicios/DirectorioServicios/Configuracion/ClsConfiguracion.cs
DirectorioServicios/DirectorioServicios/DirectorioServicios/obj/Debug/DirectorioServicios.csproj.CoreCompileInputs.cache
DirectorioServicios/DirectorioServicios/DirectorioServicios/obj/Debug/DirectorioServicios.csprojAssemblyReference.cache
