
DirectorioServicios/.vs/DirectorioServicios/v15/.suo
DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-shm
DirectorioServicios/Configuracion/obj/Debug/Configuracion.csprojAssemblyReference.cache
DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-shm
DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-shm
DirectorioServicios/.vs/DirectorioServicios/v15/Server/sqlite3/storage.ide-shm
